.App {
  text-align: center;
}

/* custom h1s */
.majorh1 {
    font-size: 10vmax;
    height: 7vmax;
    line-height: 7vmax;
    /* text-shadow: -18px 0px 12px rgba(0, 0, 0, 0.492); */
}
.titleh1 {
    font-size: 3rem;
    width: 15rem;
    font-weight: lighter;
}
