.App {
  text-align: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  height: 4em;
}
.title div:nth-child(1){
  flex: 0 1 5%;
}
.title h2 {
  font-size: clamp(22px, 2.5vmax, 3vmax);
  margin: auto 0 auto 0;
  height: max-content;
  line-height: clamp(22px, 2.5vmax, 3vmax);
}

.line {
  flex: 1;
  width: 1fr;
  height: 2px;
  margin: auto 0 auto 0;
  background-color: rgba(0, 0, 0, 0.158);
}

