.App {
  text-align: center;
  background-color: #1d1d1d;
}

/* custom h1s */
.majorh1 {
    font-size: 10vmax;
    height: 10vmax;
    line-height: 10vmax;
    background: linear-gradient(45deg, rgb(201, 143, 255), rgb(57, 57, 255));
    background: -webkit-gradient(45deg, rgb(201, 143, 255), rgb(57, 57, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.majorh2 {
    font-size: 7vmax;
    height: 7vmax;
    line-height: 7vmax;
    color: blueviolet;
    background: linear-gradient(45deg, rgb(201, 143, 255), rgb(57, 57, 255));
    background: -webkit-gradient(45deg, rgb(201, 143, 255), rgb(57, 57, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titleh1 {
    font-size: 3rem;
    width: 15rem;
    font-weight: lighter;
    background: linear-gradient(45deg, rgb(201, 143, 255), rgb(57, 57, 255));
    background: -webkit-gradient(45deg, rgb(201, 143, 255), rgb(57, 57, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contacts {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.contacts a {
    text-decoration: none;
    width: 30px;
    display: flex;
    justify-content: space-around;
    height: 30px;
    border-radius: 50%;
}
.contacts a *{
    font-size: 1.5rem;
    color: rgb(134, 134, 255);
    margin: auto;
}
.contacts a *:nth-child(1):hover {
    color: rgb(134, 134, 255);
}

::-webkit-scrollbar-track {
    background: #f7f7ff;
}
::-webkit-scrollbar-thumb {
    background: #99999c;
}
::-webkit-scrollbar-track-piece {
    background: #f7f7ff;
}
::-webkit-scrollbar-button {
    background: #f7f7ff;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #f7f7ff;
}
@media only screen and (max-width: 600px){
    .page {
        width: 100% !important;
        min-height: calc(100vh - 3em) !important;
        margin-right: auto !important;
    }
    #homePage .container {
        width: 90% !important;
    }
    #workWithMePage {
        padding-bottom: 5rem;
    }
    .project-details p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: initial !important;
               line-clamp: initial !important; 
        -webkit-box-orient: vertical;
    }
}
